In [1]:
import pandas as pd
import yaml
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
with open("../config.yaml", "r") as file:
    paths = yaml.safe_load(file)

print(paths['data']['clean']['file1'])
print(paths['data']['clean']['file2'])
print(paths['data']['clean']['file3'])
print(paths['data']['clean']['file4'])
print(paths['data']['clean']['file5'])
print(paths['data']['clean']['file6'])
print(paths['data']['clean']['file7'])

../data/clean/earthquake_data_clean.csv
../data/clean/inventory_clean_redundant.csv
../data/clean/value_1997-2020_clean.csv
../data/clean/value_2019-2024_clean.csv
../data/clean/values_joined_clean.csv
../data/clean/values_pivotedback.csv
../data/clean/combined_df_value+inventory.csv

In [3]:
# load files

df1 = pd.read_csv(paths['data']['clean']['file7']) #, usecols=[0, 1, 2, 3, 4])
df2 = pd.read_csv(paths['data']['clean']['file6'])
df3 = pd.read_csv(paths['data']['clean']['file2'])
df4 = pd.read_csv(paths['data']['clean']['file4'])

Hypothesis testing value affected city vs benchmark

In [4]:
# preliminary view

df1.head()

,index,region,year,value,total,total_occupied,total_not_occupied,oppucation_ratio
0,0,'s-Gravenhage (gemeente),2012,207.0,241376.0,219180.0,22196.0,0.908044
1,1,'s-Gravenhage (gemeente),2013,199.0,244880.0,222196.0,22684.0,0.907367
2,2,'s-Gravenhage (gemeente),2014,188.0,249994.0,225202.0,24792.0,0.900830
3,3,'s-Gravenhage (gemeente),2015,184.0,251374.0,227464.0,23910.0,0.904883
4,4,'s-Gravenhage (gemeente),2016,188.0,253210.0,230398.0,22812.0,0.909909

In [5]:
df1['region'].unique()

array(["'s-Gravenhage (gemeente)", "'s-Hertogenbosch", 'Aa en Hunze',
       'Aalburg', 'Aalsmeer', 'Aalten', 'Achtkarspelen', 'Alblasserdam',
       'Albrandswaard', 'Alkmaar', 'Almelo', 'Almere',
       'Alphen aan den Rijn', 'Alphen-Chaam', 'Altena', 'Ameland',
       'Amersfoort', 'Amstelveen', 'Amsterdam', 'Apeldoorn', 'Appingedam',
       'Arnhem', 'Assen', 'Asten', 'Baarle-Nassau', 'Baarn',
       'Barendrecht', 'Barneveld', 'Bedum', 'Beek (L.)', 'Beekdaelen',
       'Beemster', 'Beesel', 'Bellingwedde', 'Berg en Dal', 'Bergambacht',
       'Bergeijk', 'Bergen (L.)', 'Bergen (NH.)', 'Bergen op Zoom',
       'Berkelland', 'Bernheze', 'Bernisse', 'Best', 'Beuningen',
       'Beverwijk', 'Binnenmaas', 'Bladel', 'Blaricum', 'Bloemendaal',
       'Boarnsterhim', 'Bodegraven-Reeuwijk', 'Boekel', 'Borger-Odoorn',
       'Borne', 'Borsele', 'Boskoop', 'Boxmeer', 'Boxtel', 'Breda',
       'Brielle', 'Bronckhorst', 'Brummen', 'Brunssum', 'Bunnik',
       'Bunschoten', 'Buren', 'Bussum', 'Capelle aan den IJssel',
       'Castricum', 'Coevorden', 'Cranendonck', 'Cromstrijen', 'Cuijk',
       'Culemborg', 'Dalfsen', 'Dantumadiel', 'De Bilt',
       'De Friese Meren', 'De Fryske Marren', 'De Marne',
       'De Ronde Venen', 'De Wolden', 'Delft', 'Delfzijl', 'Den Helder',
       'Deurne', 'Deventer', 'Diemen', 'Dinkelland', 'Dirksland',
       'Doesburg', 'Doetinchem', 'Dongen', 'Dongeradeel', 'Dordrecht',
       'Drechterland', 'Drenthe (PV)', 'Drimmelen', 'Dronten', 'Druten',
       'Duiven', 'Echt-Susteren', 'Edam-Volendam', 'Ede', 'Eemnes',
       'Eemsmond', 'Eersel', 'Eijsden-Margraten', 'Eindhoven', 'Elburg',
       'Emmen', 'Enkhuizen', 'Enschede', 'Epe', 'Ermelo', 'Etten-Leur',
       'Ferwerderadiel', 'Flevoland (PV)', 'Franekeradeel',
       'Friesland (PV)', 'Gaasterlân-Sleat', 'Geertruidenberg',
       'Gelderland (PV)', 'Geldermalsen', 'Geldrop-Mierlo',
       'Gemert-Bakel', 'Gennep', 'Giessenlanden', 'Gilze en Rijen',
       'Goedereede', 'Goeree-Overflakkee', 'Goes', 'Goirle',
       'Gooise Meren', 'Gorinchem', 'Gouda', 'Graafstroom',
       'Graft-De Rijp', 'Grave', 'Groesbeek', 'Groningen (PV)',
       'Groningen (gemeente)', 'Grootegast', 'Gulpen-Wittem',
       'Haaksbergen', 'Haaren', 'Haarlem',
       'Haarlemmerliede en Spaarnwoude', 'Haarlemmermeer', 'Halderberge',
       'Hardenberg', 'Harderwijk', 'Hardinxveld-Giessendam', 'Haren',
       'Harenkarspel', 'Harlingen', 'Hattem', 'Heemskerk', 'Heemstede',
       'Heerde', 'Heerenveen', 'Heerhugowaard', 'Heerlen', 'Heeze-Leende',
       'Heiloo', 'Hellendoorn', 'Hellevoetsluis', 'Helmond',
       'Hendrik-Ido-Ambacht', 'Hengelo (O.)', 'Het Hogeland', 'Heumen',
       'Heusden', 'Hillegom', 'Hilvarenbeek', 'Hilversum',
       'Hoeksche Waard', 'Hof van Twente', 'Hollands Kroon', 'Hoogeveen',
       'Hoogezand-Sappemeer', 'Hoorn', 'Horst aan de Maas', 'Houten',
       'Huizen', 'Hulst', 'IJsselstein', 'Kaag en Braassem', 'Kampen',
       'Kapelle', 'Katwijk', 'Kerkrade', 'Koggenland',
       'Kollumerland en Nieuwkruisland', 'Korendijk',
       'Krimpen aan den IJssel', 'Krimpenerwaard', 'Laarbeek', 'Landerd',
       'Landgraaf', 'Landsmeer', 'Langedijk', 'Lansingerland',
       'Laren (NH.)', 'Leek', 'Leerdam', 'Leeuwarden', 'Leeuwarderadeel',
       'Leiden', 'Leiderdorp', 'Leidschendam-Voorburg', 'Lelystad',
       'Lemsterland', 'Leudal', 'Leusden', 'Liesveld', 'Limburg (PV)',
       'Lingewaal', 'Lingewaard', 'Lisse', 'Littenseradiel', 'Lochem',
       'Loon op Zand', 'Lopik', 'Loppersum', 'Losser', 'Maasdonk',
       'Maasdriel', 'Maasgouw', 'Maassluis', 'Maastricht', 'Marum',
       'Medemblik', 'Meerssen', 'Meierijstad', 'Menameradiel',
       'Menterwolde', 'Meppel', 'Middelburg (Z.)', 'Middelharnis',
       'Midden-Delfland', 'Midden-Drenthe', 'Midden-Groningen',
       'Mill en Sint Hubert', 'Millingen aan de Rijn', 'Moerdijk',
       'Molenlanden', 'Molenwaard', 'Montferland', 'Montfoort',
       'Mook en Middelaar', 'Muiden', 'Naarden', 'Neder-Betuwe',
       'Nederland', 'Nederlek', 'Nederweert', 'Neerijnen',
       'Nieuw-Lekkerland', 'Nieuwegein', 'Nieuwkoop', 'Nijkerk',
       'Nijmegen', 'Nissewaard', 'Noord-Beveland', 'Noord-Brabant (PV)',
       'Noord-Holland (PV)', 'Noordenveld', 'Noordoostpolder',
       'Noordwijk', 'Noordwijkerhout', 'Nunspeet', 'Nuth', 'Oegstgeest',
       'Oirschot', 'Oisterwijk', 'Oldambt', 'Oldebroek', 'Oldenzaal',
       'Olst-Wijhe', 'Ommen', 'Onderbanken', 'Oost Gelre', 'Oosterhout',
       'Oostflakkee', 'Ooststellingwerf', 'Oostzaan', 'Opmeer',
       'Opsterland', 'Oss', 'Oud-Beijerland', 'Oude IJsselstreek',
       'Ouder-Amstel', 'Ouderkerk', 'Oudewater', 'Overbetuwe',
       'Overijssel (PV)', 'Papendrecht', 'Peel en Maas', 'Pekela',
       'Pijnacker-Nootdorp', 'Purmerend', 'Putten', 'Raalte',
       'Reimerswaal', 'Renkum', 'Renswoude', 'Reusel-De Mierden',
       'Rheden', 'Rhenen', 'Ridderkerk', 'Rijnwaarden', 'Rijnwoude',
       'Rijssen-Holten', 'Rijswijk (ZH.)', 'Roerdalen', 'Roermond',
       'Roosendaal', 'Rotterdam', 'Rozendaal', 'Rucphen', 'Schagen',
       'Schermer', 'Scherpenzeel', 'Schiedam', 'Schiermonnikoog',
       'Schijndel', 'Schinnen', 'Schoonhoven', 'Schouwen-Duiveland',
       'Simpelveld', 'Sint Anthonis', 'Sint-Michielsgestel',
       'Sint-Oedenrode', 'Sittard-Geleen', 'Skarsterlân', 'Sliedrecht',
       'Slochteren', 'Sluis', 'Smallingerland', 'Soest', 'Someren',
       'Son en Breugel', 'Spijkenisse', 'Stadskanaal', 'Staphorst',
       'Stede Broec', 'Steenbergen', 'Steenwijkerland', 'Stein (L.)',
       'Stichtse Vecht', 'Strijen', 'Ten Boer', 'Terneuzen',
       'Terschelling', 'Texel', 'Teylingen', 'Tholen', 'Tiel', 'Tilburg',
       'Tubbergen', 'Twenterand', 'Tynaarlo', 'Tytsjerksteradiel',
       'Ubbergen', 'Uden', 'Uitgeest', 'Uithoorn', 'Urk', 'Utrecht (PV)',
       'Utrecht (gemeente)', 'Utrechtse Heuvelrug', 'Vaals',
       'Valkenburg aan de Geul', 'Valkenswaard', 'Veendam', 'Veenendaal',
       'Veere', 'Veghel', 'Veldhoven', 'Velsen', 'Venlo', 'Venray',
       'Vianen', 'Vijfheerenlanden', 'Vlaardingen', 'Vlagtwedde',
       'Vlieland', 'Vlissingen', 'Vlist', 'Voerendaal', 'Voorschoten',
       'Voorst', 'Vught', 'Waadhoeke', 'Waalre', 'Waalwijk',
       'Waddinxveen', 'Wageningen', 'Wassenaar', 'Waterland', 'Weert',
       'Weesp', 'Werkendam', 'West Betuwe', 'West Maas en Waal',
       'Westerkwartier', 'Westerveld', 'Westervoort', 'Westerwolde',
       'Westland', 'Weststellingwerf', 'Westvoorne', 'Wierden', 'Wijchen',
       'Wijdemeren', 'Wijk bij Duurstede', 'Winsum', 'Winterswijk',
       'Woensdrecht', 'Woerden', 'Wormerland', 'Woudenberg', 'Woudrichem',
       'Zaanstad', 'Zaltbommel', 'Zandvoort', 'Zederik', 'Zeeland (PV)',
       'Zeevang', 'Zeewolde', 'Zeist', 'Zevenaar', 'Zijpe', 'Zoetermeer',
       'Zoeterwoude', 'Zuid-Holland (PV)', 'Zuidhorn', 'Zuidplas',
       'Zundert', 'Zutphen', 'Zwartewaterland', 'Zwijndrecht', 'Zwolle',
       'het Bildt'], dtype=object)

In [6]:
search_string = 'PV'
matching_rows = df1[df1['region'].str.contains(search_string, case=False, na=False)]

matching_rows['region'].unique()

array(['Drenthe (PV)', 'Flevoland (PV)', 'Friesland (PV)',
       'Gelderland (PV)', 'Groningen (PV)', 'Limburg (PV)',
       'Noord-Brabant (PV)', 'Noord-Holland (PV)', 'Overijssel (PV)',
       'Utrecht (PV)', 'Zeeland (PV)', 'Zuid-Holland (PV)'], dtype=object)

In [7]:
# output2 = df1[(df1['region'] == 'Leeuwarden') | (df1['region'] == 'Appingedam')]
# output2 = output2.dropna()
# output2.to_csv('output2.csv', index=False)

In [8]:
df_target_city = df1[df1['region'] == 'Appingedam']
df_benchmark_city = df1[df1['region'] == 'Franekeradeel']
df_target_region = df1[df1['region'] == 'Groningen (PV)']
df_benchmark_region = df1[df1['region'] == 'Friesland (PV)']

# drop NaNs
df_target_city = df_target_city.dropna()
df_benchmark_city = df_benchmark_city.dropna()
df_target_region = df_target_region.dropna()
df_benchmark_region = df_benchmark_region.dropna()

In [9]:
# #### DECOMISSIONED ###

# # Weighted two-sample T-test - Target city vs Benchmark city

# # Extract values and weights for both regions
# values_target = df_target_city['value']
# weights_target = df_target_city['total']

# values_benchmark = df_benchmark_city['value']
# weights_benchmark = df_benchmark_city['total']

# # Function to compute the weighted mean
# def weighted_mean(values, weights):
#     return np.sum(values * weights) / np.sum(weights)

# # Function to compute the weighted variance
# def weighted_variance(values, weights):
#     mean = weighted_mean(values, weights)
#     variance = np.sum(weights * (values - mean) ** 2) / np.sum(weights)
#     return variance

# # Calculate the weighted means
# mean_target = weighted_mean(values_target, weights_target)
# mean_benchmark = weighted_mean(values_benchmark, weights_benchmark)

# # Calculate the weighted variances
# var_target = weighted_variance(values_target, weights_target)
# var_benchmark = weighted_variance(values_benchmark, weights_benchmark)

# # Calculate the number of samples (n)
# n_target = len(values_target)
# n_benchmark = len(values_benchmark)

# # Calculate the t-statistic
# t_statistic = (mean_target - mean_benchmark) / np.sqrt((var_target / n_target) + (var_benchmark / n_benchmark))

# # Degrees of freedom for weighted t-test (approximation using Welch-Satterthwaite equation)
# df_numerator = ((var_target / n_target) + (var_benchmark / n_benchmark)) ** 2
# df_denominator = ((var_target / n_target) ** 2 / (n_target - 1)) + ((var_benchmark / n_benchmark) ** 2 / (n_benchmark - 1))
# degrees_of_freedom = df_numerator / df_denominator

# # Calculate the p-value for a one-sided t-test (to test if target is lower than benchmark)
# p_value = stats.t.cdf(t_statistic, df=degrees_of_freedom)

# # Output the results
# print(f"t-statistic: {t_statistic}")
# print(f"p-value: {p_value}")

# alpha = 0.05
# if p_value < alpha:
#     print("Reject the null hypothesis: target city has a lower value than benchmark city.")
# else:
#     print("Fail to reject the null hypothesis: No evidence that target city has a lower value than benchmark city.")

Weighted two-sample T-test - Target region vs Benchmark region

In [10]:
# #### DECOMISSIONED ###

# # Weighted two-sample T-test - Target region vs Benchmark region

# # Extract values and weights for both regions
# values_target = df_target_region['value']
# weights_target = df_target_region['total']

# values_benchmark = df_benchmark_region['value']
# weights_benchmark = df_benchmark_region['total']

# # Function to compute the weighted mean
# def weighted_mean(values, weights):
#     return np.sum(values * weights) / np.sum(weights)

# # Function to compute the weighted variance
# def weighted_variance(values, weights):
#     mean = weighted_mean(values, weights)
#     variance = np.sum(weights * (values - mean) ** 2) / np.sum(weights)
#     return variance

# # Calculate the weighted means
# mean_target = weighted_mean(values_target, weights_target)
# mean_benchmark = weighted_mean(values_benchmark, weights_benchmark)

# # Calculate the weighted variances
# var_target = weighted_variance(values_target, weights_target)
# var_benchmark = weighted_variance(values_benchmark, weights_benchmark)

# # Calculate the number of samples (n)
# n_target = len(values_target)
# n_benchmark = len(values_benchmark)

# # Calculate the t-statistic
# t_statistic = (mean_target - mean_benchmark) / np.sqrt((var_target / n_target) + (var_benchmark / n_benchmark))

# # Degrees of freedom for weighted t-test (approximation using Welch-Satterthwaite equation)
# df_numerator = ((var_target / n_target) + (var_benchmark / n_benchmark)) ** 2
# df_denominator = ((var_target / n_target) ** 2 / (n_target - 1)) + ((var_benchmark / n_benchmark) ** 2 / (n_benchmark - 1))
# degrees_of_freedom = df_numerator / df_denominator

# # Calculate the p-value for a one-sided t-test (to test if target is lower than benchmark)
# p_value = stats.t.cdf(t_statistic, df=degrees_of_freedom)

# # Output the results
# print(f"t-statistic: {t_statistic}")
# print(f"p-value: {p_value}")

# alpha = 0.05
# if p_value < alpha:
#     print("Reject the null hypothesis: target region has a lower value than benchmark region.")
# else:
#     print("Fail to reject the null hypothesis: No evidence that target region has a lower value than benchmark region.")

In [11]:

# Filter data for "Target city" and "Benchmark"
df_target_city = df1[df1['region'] == 'Appingedam']
df_benchmark_city = df1[df1['region'] == 'Franekeradeel']

# Extract the occupation_ratio for both regions
occupation_targetcity = df_target_city['oppucation_ratio'].dropna()
occupation_benchmarkcity = df_benchmark_city['oppucation_ratio'].dropna()

# Perform Welch's t-test for unequal variances
t_statistic, p_value = stats.ttest_ind(occupation_targetcity, occupation_benchmarkcity, equal_var=False, alternative='less')

# Output the results
print(f"t-statistic: {t_statistic}")
print(f"p-value: {p_value}")

# Check if we can reject the null hypothesis at a significance level of 0.05
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: target city has a lower occupation ratio than benchmark city.")
else:
    print("Fail to reject the null hypothesis: No evidence that target city has a lower occupation ratio than benchmark city.")

t-statistic: 3.4702883077753923
p-value: 0.998904479527389
Fail to reject the null hypothesis: No evidence that target city has a lower occupation ratio than benchmark city.

In [12]:

# Filter data for "Target region" and "Benchmark"
df_target_region = df1[df1['region'] == 'Groningen (PV)']
df_benchmark_region = df1[df1['region'] == 'Friesland (PV)']

# Extract the occupation_ratio for both regions
occupation_targetregion = df_target_region['oppucation_ratio'].dropna()
occupation_benchmarkregion = df_benchmark_region['oppucation_ratio'].dropna()

# Perform Welch's t-test for unequal variances
t_statistic, p_value = stats.ttest_ind(occupation_targetregion, occupation_benchmarkregion, equal_var=False, alternative='less')

# Output the results
print(f"t-statistic: {t_statistic}")
print(f"p-value: {p_value}")

# Check if we can reject the null hypothesis at a significance level of 0.05
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: target region has a lower occupation ratio than benchmark region.")
else:
    print("Fail to reject the null hypothesis: No evidence that target region has a lower occupation ratio than benchmark region.")

t-statistic: 0.7717475870976036
p-value: 0.7752359957977669
Fail to reject the null hypothesis: No evidence that target region has a lower occupation ratio than benchmark region.

In [13]:
output2 = df2[(df2['region'] == 'Franekeradeel') | (df2['region'] == 'Appingedam')]

In [14]:
# output2.to_csv('output3.csv', index=False)

In [15]:
output2

             region  year  value
952      Appingedam  1997   52.0
953      Appingedam  1998   52.0
954      Appingedam  1999   52.0
955      Appingedam  2000   53.0
956      Appingedam  2001   74.0
957      Appingedam  2002   74.0
958      Appingedam  2003   76.0
959      Appingedam  2004   77.0
960      Appingedam  2005  117.0
961      Appingedam  2006  118.0
962      Appingedam  2007  137.0
963      Appingedam  2008  145.0
964      Appingedam  2009  150.0
965      Appingedam  2010  152.0
966      Appingedam  2011  156.0
967      Appingedam  2012  154.0
968      Appingedam  2013  149.0
969      Appingedam  2014  142.0
970      Appingedam  2015  134.0
971      Appingedam  2016  131.0
972      Appingedam  2017  133.0
973      Appingedam  2018  138.0
974      Appingedam  2019  143.0
975      Appingedam  2020  155.0
976      Appingedam  2021  162.0
977      Appingedam  2022  179.0
978      Appingedam  2023  213.0
979      Appingedam  2024  222.0
5012  Franekeradeel  1997   48.0
5013  Franekeradeel  1998   49.0
5014  Franekeradeel  1999   49.0
5015  Franekeradeel  2000   50.0
5016  Franekeradeel  2001   91.0
5017  Franekeradeel  2002   93.0
5018  Franekeradeel  2003   94.0
5019  Franekeradeel  2004   94.0
5020  Franekeradeel  2005  139.0
5021  Franekeradeel  2006  141.0
5022  Franekeradeel  2007  159.0
5023  Franekeradeel  2008  170.0
5024  Franekeradeel  2009  174.0
5025  Franekeradeel  2010  175.0
5026  Franekeradeel  2011  172.0
5027  Franekeradeel  2012  165.0
5028  Franekeradeel  2013  158.0
5029  Franekeradeel  2014  146.0
5030  Franekeradeel  2015  141.0
5031  Franekeradeel  2016  139.0
5032  Franekeradeel  2017  141.0
5033  Franekeradeel  2018  149.0
5034  Franekeradeel  2019  161.0
5035  Franekeradeel  2020  171.0
5036  Franekeradeel  2021  179.0
5037  Franekeradeel  2022  198.0
5038  Franekeradeel  2023  235.0
5039  Franekeradeel  2024  245.0

In [25]:
df2['region'].unique()

array(["'s-Graveland", "'s-Gravendeel", "'s-Gravenhage (gemeente)",
       "'s-Gravenzande", "'s-Hertogenbosch", 'Aa en Hunze', 'Aalburg',
       'Aalsmeer', 'Aalten', 'Abcoude', 'Achtkarspelen', 'Akersloot',
       'Alblasserdam', 'Albrandswaard', 'Alkemade', 'Alkmaar', 'Almelo',
       'Almere', 'Alphen aan den Rijn', 'Alphen-Chaam', 'Altena',
       'Ambt Delden', 'Ambt Montfort', 'Ameland', 'Amerongen',
       'Amersfoort', 'Ammerzoden', 'Amstelveen', 'Amsterdam', 'Andijk',
       'Angerlo', 'Anloo', 'Anna Paulowna', 'Apeldoorn', 'Appingedam',
       'Arcen en Velden', 'Arnhem', 'Assen', 'Asten', 'Avereest', 'Axel',
       'Baarle-Nassau', 'Baarn', 'Barendrecht', 'Barneveld', 'Bathmen',
       'Bedum', 'Beek (L.)', 'Beekdaelen', 'Beemster', 'Beesel', 'Beilen',
       'Belfeld', 'Bellingwedde', 'Bemmel', 'Bennebroek', 'Berg en Dal',
       'Bergambacht', 'Bergeijk', 'Bergen (L.)', 'Bergen (NH.)',
       'Bergen op Zoom', 'Bergeyk', 'Bergh', 'Bergschenhoek',
       'Berkel en Rodenrijs', 'Berkelland', 'Bernheze', 'Bernisse',
       'Best', 'Beuningen', 'Beverwijk', 'Binnenmaas', 'Bladel',
       'Blaricum', 'Bleiswijk', 'Bloemendaal', 'Boarnsterhim',
       'Bodegraven', 'Bodegraven-Reeuwijk', 'Boekel', 'Bolsward',
       'Borculo', 'Borger', 'Borger-Odoorn', 'Born', 'Borne', 'Borsele',
       'Boskoop', 'Boxmeer', 'Boxtel', 'Brakel', 'Breda', 'Brederwiede',
       'Breukelen', 'Brielle', 'Broekhuizen', 'Bronckhorst', 'Brummen',
       'Brunssum', 'Budel', 'Bunnik', 'Bunschoten', 'Buren', 'Bussum',
       'Capelle aan den IJssel', 'Castricum', 'Coevorden', 'Cranendonck',
       'Cromstrijen', 'Cuijk', 'Culemborg', 'Dalen', 'Dalfsen',
       'Dantumadeel', 'Dantumadiel', 'De Bilt', 'De Friese Meren',
       'De Fryske Marren', 'De Lier', 'De Marne', 'De Ronde Venen',
       'De Wijk', 'De Wolden', 'Delft', 'Delfzijl', 'Den Ham',
       'Den Helder', 'Denekamp', 'Deurne', 'Deventer', 'Didam', 'Diemen',
       'Diepenheim', 'Diepenveen', 'Diever', 'Dinkelland', 'Dinxperlo',
       'Dirksland', 'Dodewaard', 'Doesburg', 'Doetinchem', 'Dongen',
       'Dongeradeel', 'Doorn', 'Dordrecht', 'Drechterland',
       'Drenthe (PV)', 'Driebergen-Rijsenburg', 'Drimmelen', 'Dronten',
       'Druten', 'Duiven', 'Dwingeloo', 'Echt', 'Echt-Susteren',
       'Echteld', 'Edam-Volendam', 'Ede', 'Eelde', 'Eemnes', 'Eemsmond',
       'Eersel', 'Egmond', 'Eibergen', 'Eijsden', 'Eijsden-Margraten',
       'Eindhoven', 'Elburg', 'Elst', 'Emmen', 'Enkhuizen', 'Enschede',
       'Epe', 'Ermelo', 'Etten-Leur', 'Ferwerderadeel', 'Ferwerderadiel',
       'Flevoland (PV)', 'Franekeradeel', 'Friesland (PV)',
       'Gaasterlân-Sleat', 'Gasselte', 'Geertruidenberg',
       'Gelderland (PV)', 'Geldermalsen', 'Geldrop', 'Geldrop-Mierlo',
       'Geleen', 'Gemert-Bakel', 'Gendringen', 'Gendt', 'Genemuiden',
       'Gennep', 'Giessenlanden', 'Gieten', 'Gilze en Rijen',
       'Goedereede', 'Goeree-Overflakkee', 'Goes', 'Goirle',
       'Gooise Meren', 'Goor', 'Gorinchem', 'Gorssel', 'Gouda',
       'Graafstroom', 'Graft-De Rijp', 'Gramsbergen', 'Grave', 'Groenlo',
       'Groesbeek', 'Groningen (PV)', 'Groningen (gemeente)',
       'Grootegast', 'Grubbenvorst', 'Gulpen', 'Gulpen-Wittem',
       'Haaksbergen', 'Haaren', 'Haarlem',
       'Haarlemmerliede en Spaarnwoude', 'Haarlemmermeer', 'Haelen',
       'Halderberge', 'Hardenberg', 'Harderwijk',
       'Hardinxveld-Giessendam', 'Haren', 'Harenkarspel', 'Harlingen',
       'Harmelen', 'Hasselt', 'Hattem', 'Havelte', 'Hedel', 'Heel',
       'Heemskerk', 'Heemstede', 'Heerde', 'Heerenveen', 'Heerewaarden',
       'Heerhugowaard', 'Heerjansdam', 'Heerlen', 'Heeze-Leende',
       'Heiloo', 'Heino', 'Helden', 'Hellendoorn', 'Hellevoetsluis',
       'Helmond', 'Hendrik-Ido-Ambacht', 'Hengelo (Gld.)', 'Hengelo (O.)',
       'Het Hogeland', 'Heteren', 'Heumen', 'Heusden', 'Heythuysen',
       'Hillegom', 'Hilvarenbeek', 'Hilversum', 'Hoeksche Waard',
       'Hoevelaken', 'Hof van Twente', 'Hollands Kroon', 'Holten',
       'Hontenisse', 'Hoogeveen', 'Hoogezand-Sappemeer', 'Hoorn', 'Horst',
       'Horst aan de Maas', 'Houten', 'Huissen', 'Huizen', 'Hulst',
       'Hummelo en Keppel', 'Hunsel', 'IJsselham', 'IJsselmuiden',
       'IJsselstein', 'Jacobswoude', 'Kaag en Braassem', 'Kampen',
       'Kapelle', 'Katwijk', 'Kerkrade', 'Kerkwijk', 'Kessel', 'Kesteren',
       'Koggenland', 'Kollumerland en Nieuwkruisland', 'Korendijk',
       'Krimpen aan den IJssel', 'Krimpenerwaard', 'Laarbeek', 'Landerd',
       'Landgraaf', 'Landsmeer', 'Langedijk', 'Lansingerland',
       'Laren (NH.)', 'Leek', 'Leerdam', 'Leersum', 'Leeuwarden',
       'Leeuwarderadeel', 'Leiden', 'Leiderdorp', 'Leidschendam',
       'Leidschendam-Voorburg', 'Lelystad', 'Lemsterland', 'Leudal',
       'Leusden', 'Lichtenvoorde', 'Liemeer', 'Lienden', 'Liesveld',
       'Limburg (PV)', 'Limmen', 'Lingewaal', 'Lingewaard', 'Lisse',
       'Lith', 'Littenseradiel', 'Lochem', 'Loenen', 'Loon op Zand',
       'Loosdrecht', 'Lopik', 'Loppersum', 'Losser', 'Maarn', 'Maarssen',
       'Maartensdijk', 'Maasbracht', 'Maasbree', 'Maasdonk', 'Maasdriel',
       'Maasgouw', 'Maasland', 'Maassluis', 'Maastricht', 'Made',
       'Margraten', 'Markelo', 'Marum', 'Maurik', 'Medemblik',
       'Meerlo-Wanssum', 'Meerssen', 'Meierijstad', 'Meijel',
       'Menaldumadeel', 'Menameradiel', 'Menterwolde', 'Meppel',
       'Middelburg (Z.)', 'Middelharnis', 'Midden-Delfland',
       'Midden-Drenthe', 'Midden-Groningen', 'Middenveld', 'Mierlo',
       'Mill en Sint Hubert', 'Millingen aan de Rijn', 'Moerdijk',
       'Molenlanden', 'Molenwaard', 'Monster', 'Montferland', 'Montfoort',
       'Mook en Middelaar', 'Moordrecht', 'Muiden', 'Naaldwijk',
       'Naarden', 'Neder-Betuwe', 'Nederhorst den Berg', 'Nederland',
       'Nederlek', 'Nederweert', 'Neede', 'Neerijnen', 'Niedorp',
       'Nieuw-Lekkerland', 'Nieuwegein', 'Nieuwerkerk aan den IJssel',
       'Nieuwkoop', 'Nieuwleusen', 'Nijefurd', 'Nijeveen', 'Nijkerk',
       'Nijmegen', 'Nissewaard', 'Noardeast-Fryslân', 'Noord-Beveland',
       'Noord-Brabant (PV)', 'Noord-Holland (PV)', 'Noordenveld',
       'Noorder-Koggenland', 'Noordoostpolder', 'Noordwijk',
       'Noordwijkerhout', 'Nootdorp', 'Norg', 'Nuenen', 'Nunspeet',
       'Nuth', 'Obdam', 'Odoorn', 'Oegstgeest', 'Oirschot', 'Oisterwijk',
       'Oldambt', 'Oldebroek', 'Oldenzaal', 'Olst', 'Olst-Wijhe', 'Ommen',
       'Onderbanken', 'Oost Gelre', 'Oostburg', 'Oosterhesselen',
       'Oosterhout', 'Oostflakkee', 'Ooststellingwerf', 'Oostzaan',
       'Ootmarsum', 'Opmeer', 'Opsterland', 'Oss', 'Oud-Beijerland',
       'Oude IJsselstreek', 'Ouder-Amstel', 'Ouderkerk', 'Oudewater',
       'Overbetuwe', 'Overijssel (PV)', 'Papendrecht', 'Peel en Maas',
       'Peize', 'Pekela', 'Pijnacker', 'Pijnacker-Nootdorp', 'Purmerend',
       'Putten', 'Raalte', 'Ravenstein', 'Reeuwijk', 'Reiderland',
       'Reimerswaal', 'Renkum', 'Renswoude', 'Reusel-De Mierden',
       'Rheden', 'Rhenen', 'Ridderkerk', 'Rijnsburg', 'Rijnwaarden',
       'Rijnwoude', 'Rijssen', 'Rijssen-Holten', 'Rijswijk (ZH.)',
       'Roden', 'Roerdalen', 'Roermond', 'Roggel en Neer', 'Rolde',
       'Roosendaal', 'Rossum', 'Rotterdam', 'Rozenburg', 'Rozendaal',
       'Rucphen', 'Ruinen', 'Ruinerwold', 'Ruurlo', 'Sas van Gent',
       'Sassenheim', 'Schagen', 'Scheemda', 'Schermer', 'Scherpenzeel',
       'Schiedam', 'Schiermonnikoog', 'Schijndel', 'Schinnen',
       'Schipluiden', 'Schoonebeek', 'Schoonhoven', 'Schoorl',
       'Schouwen-Duiveland', 'Sevenum', 'Simpelveld', 'Sint Anthonis',
       'Sint-Michielsgestel', 'Sint-Oedenrode', 'Sittard',
       'Sittard-Geleen', 'Skarsterlân', 'Sleen', 'Sliedrecht',
       'Slochteren', 'Sluis', 'Sluis-Aardenburg', 'Smallingerland',
       'Smilde', 'Sneek', 'Soest', 'Someren', 'Son en Breugel',
       'Spijkenisse', 'Stad Delden', 'Stadskanaal', 'Staphorst',
       'Stede Broec', 'Steenbergen', 'Steenderen', 'Steenwijk',
       'Steenwijkerland', 'Stein (L.)', 'Stichtse Vecht', 'Stramproy',
       'Strijen', 'Susteren', 'Swalmen', 'Súdwest-Fryslân', 'Tegelen',
       'Ten Boer', 'Ter Aar', 'Terneuzen', 'Terschelling', 'Texel',
       'Teylingen', 'Tholen', 'Thorn', 'Tiel', 'Tilburg', 'Tubbergen',
       'Twenterand', 'Tynaarlo', 'Tytsjerksteradiel', 'Ubbergen', 'Uden',
       'Uitgeest', 'Uithoorn', 'Urk', 'Utrecht (PV)',
       'Utrecht (gemeente)', 'Utrechtse Heuvelrug', 'Vaals', 'Valburg',
       'Valkenburg (ZH.)', 'Valkenburg aan de Geul', 'Valkenswaard',
       'Veendam', 'Veenendaal', 'Veere', 'Veghel', 'Veldhoven', 'Velsen',
       'Venhuizen', 'Venlo', 'Venray', 'Vianen', 'Vierlingsbeek',
       'Vijfheerenlanden', 'Vlaardingen', 'Vlagtwedde', 'Vledder',
       'Vleuten-De Meern', 'Vlieland', 'Vlissingen', 'Vlist',
       'Voerendaal', 'Voorburg', 'Voorhout', 'Voorschoten', 'Voorst',
       'Vorden', 'Vries', 'Vriezenveen', 'Vught', 'Waadhoeke', 'Waalre',
       'Waalwijk', 'Waddinxveen', 'Wageningen', 'Warmond', 'Warnsveld',
       'Wassenaar', 'Wateringen', 'Waterland', 'Weerselo', 'Weert',
       'Weesp', 'Wehl', 'Werkendam', 'Wervershoof', 'West Betuwe',
       'West Maas en Waal', 'Wester-Koggenland', 'Westerbork',
       'Westerkwartier', 'Westerveld', 'Westervoort', 'Westerwolde',
       'Westland', 'Weststellingwerf', 'Westvoorne', 'Wierden',
       'Wieringen', 'Wieringermeer', 'Wijchen', 'Wijdemeren', 'Wijhe',
       'Wijk bij Duurstede', 'Winschoten', 'Winsum', 'Winterswijk',
       'Wisch', 'Wittem', 'Woensdrecht', 'Woerden', 'Wognum',
       'Wormerland', 'Woudenberg', 'Woudrichem', 'Wymbritseradiel',
       'Wûnseradiel', 'Zaanstad', 'Zaltbommel', 'Zandvoort', 'Zederik',
       'Zeeland (PV)', 'Zeevang', 'Zeewolde', 'Zeist', 'Zelhem',
       'Zevenaar', 'Zevenbergen', 'Zevenhuizen-Moerkapelle', 'Zijpe',
       'Zoetermeer', 'Zoeterwoude', 'Zuid-Holland (PV)', 'Zuidhorn',
       'Zuidlaren', 'Zuidplas', 'Zuidwolde', 'Zundert', 'Zutphen',
       'Zwartewaterland', 'Zwartsluis', 'Zweeloo', 'Zwijndrecht',
       'Zwolle', 'het Bildt'], dtype=object)

In [16]:
######### USE THIS  ########

# Separate data for each region
target = df2[df2['region'] == 'Appingedam'].set_index('year')['value']
bm = df2[df2['region'] == 'Franekeradeel'].set_index('year')['value']

# Ensure we're comparing the same years
common_years = target.index.intersection(bm.index)
target = target[common_years]
bm = bm[common_years]

# Calculate the differences (target - bm)
differences = target - bm

# Perform one-tailed paired t-test
t_statistic, p_value = stats.ttest_rel(target, bm, alternative='less')

print(f"One-tailed paired t-test statistic: {t_statistic}")
print(f"p-value: {p_value}")

# Interpret results
alpha = 0.05
if p_value < alpha:
    print("There is significant evidence that prices in target are lower than in BM.")
else:
    print("There is not enough evidence to conclude that prices in target are significantly lower than in BM.")

# Additional descriptive statistics
print("\nDescriptive Statistics:")
print("Target:")
print(f"Mean: {np.mean(target)}")
print(f"Standard Deviation: {np.std(target, ddof=1)}")
print("\nBM:")
print(f"Mean: {np.mean(bm)}")
print(f"Standard Deviation: {np.std(bm, ddof=1)}")

# Calculate and print the mean difference
mean_diff = np.mean(differences)
print(f"\nMean difference (target - bm): {mean_diff}")

# Count how many years target was lower
lower_count = np.sum(differences < 0)
total_years = len(differences)
print(f"\ntarget had lower prices in {lower_count} out of {total_years} years.")

One-tailed paired t-test statistic: -8.032632968331516
p-value: 6.219933143574666e-09
There is significant evidence that prices in target are lower than in BM.

Descriptive Statistics:
Target:
Mean: 126.42857142857143
Standard Deviation: 46.631279099722214

BM:
Mean: 140.21428571428572
Standard Deviation: 52.36648429337869

Mean difference (target - bm): -13.785714285714286

target had lower prices in 24 out of 28 years.

In [26]:


# Separate data for each region
target = df2[df2['region'] == 'Groningen (PV)'].set_index('year')['value']
bm = df2[df2['region'] == 'Friesland (PV)'].set_index('year')['value']

# Ensure we're comparing the same years
common_years = target.index.intersection(bm.index)
target = target[common_years]
bm = bm[common_years]

# Calculate the differences (target - bm)
differences = target - bm

# Perform one-tailed paired t-test
t_statistic, p_value = stats.ttest_rel(target, bm, alternative='less')

print(f"One-tailed paired t-test statistic: {t_statistic}")
print(f"p-value: {p_value}")

# Interpret results
alpha = 0.05
if p_value < alpha:
    print("There is significant evidence that prices in target are lower than in BM.")
else:
    print("There is not enough evidence to conclude that prices in target are significantly lower than in BM.")

# Additional descriptive statistics
print("\nDescriptive Statistics:")
print("Target:")
print(f"Mean: {np.mean(target)}")
print(f"Standard Deviation: {np.std(target, ddof=1)}")
print("\nBM:")
print(f"Mean: {np.mean(bm)}")
print(f"Standard Deviation: {np.std(bm, ddof=1)}")

# Calculate and print the mean difference
mean_diff = np.mean(differences)
print(f"\nMean difference (target - bm): {mean_diff}")

# Count how many years target was lower
lower_count = np.sum(differences < 0)
total_years = len(differences)
print(f"\ntarget had lower prices in {lower_count} out of {total_years} years.")

One-tailed paired t-test statistic: -11.235333258139937
p-value: 5.512048154649767e-12
There is significant evidence that prices in target are lower than in BM.

Descriptive Statistics:
Target:
Mean: 150.53571428571428
Standard Deviation: 59.50442382736308

BM:
Mean: 162.07142857142858
Standard Deviation: 62.26641004671636

Mean difference (target - bm): -11.535714285714286

target had lower prices in 26 out of 28 years.

In [39]:
output3 = df3[(df3['region'] == 'Groningen (PV)') | (df3['region'] == 'Fryslân (PV)')]
output3

,region,period,total,total_occupied,total_not_occupied,oppucation_ratio
12,Groningen (PV),01/01/2012,265332.0,250946.0,14386.0,0.945781
13,Groningen (PV),01/01/2013,267466.0,253549.0,13917.0,0.947967
14,Groningen (PV),01/01/2014,271087.0,257294.0,13793.0,0.949120
15,Groningen (PV),01/01/2015,272774.0,259458.0,13316.0,0.951183
16,Groningen (PV),01/01/2016,274719.0,261641.0,13078.0,0.952395
17,Groningen (PV),01/01/2017,276728.0,263918.0,12810.0,0.953709
18,Groningen (PV),01/01/2018,277113.0,264623.0,12490.0,0.954928
19,Groningen (PV),01/01/2019,279662.0,266736.0,12926.0,0.953780
20,Groningen (PV),01/01/2020,282047.0,269174.0,12873.0,0.954359
21,Groningen (PV),01/01/2021,285012.0,272092.0,12920.0,0.954669
22,Groningen (PV),01/01/2022,287568.0,274319.0,13249.0,0.953927
23,Groningen (PV),01/01/2023,290562.0,276283.0,14279.0,0.950857
24,Fryslân (PV),01/01/2012,287340.0,270451.0,16889.0,0.941223
25,Fryslân (PV),01/01/2013,289380.0,273618.0,15762.0,0.945532
26,Fryslân (PV),01/01/2014,292180.0,276925.0,15255.0,0.947789
27,Fryslân (PV),01/01/2015,294169.0,279129.0,15040.0,0.948873
28,Fryslân (PV),01/01/2016,295540.0,280642.0,14898.0,0.949591
29,Fryslân (PV),01/01/2017,296463.0,282194.0,14269.0,0.951869
30,Fryslân (PV),01/01/2018,298425.0,284229.0,14196.0,0.952430
31,Fryslân (PV),01/01/2019,300238.0,286136.0,14102.0,0.953031
32,Fryslân (PV),01/01/2020,302578.0,288553.0,14025.0,0.953648
33,Fryslân (PV),01/01/2021,304693.0,290482.0,14211.0,0.953360
34,Fryslân (PV),01/01/2022,306633.0,293094.0,13539.0,0.955846
35,Fryslân (PV),01/01/2023,308768.0,295028.0,13740.0,0.955501

In [35]:
# output3.to_csv('output4.csv', index=False)
df3

,region,period,total,total_occupied,total_not_occupied,oppucation_ratio
0,Nederland,01/01/2012,7386743.0,6975208.0,411535.0,0.944287
1,Nederland,01/01/2013,7449298.0,7055105.0,394193.0,0.947083
2,Nederland,01/01/2014,7535315.0,7143163.0,392152.0,0.947958
3,Nederland,01/01/2015,7587964.0,7211229.0,376735.0,0.950351
4,Nederland,01/01/2016,7641323.0,7276184.0,365139.0,0.952215
...,...,...,...,...,...,...
5444,Zwolle,01/01/2020,58492.0,56910.0,1582.0,0.972954
5445,Zwolle,01/01/2021,59491.0,57851.0,1640.0,0.972433
5446,Zwolle,01/01/2022,60228.0,58516.0,1712.0,0.971575
5447,Zwolle,01/01/2023,60475.0,58864.0,1611.0,0.973361
5448,Bron: CBS,NaN,NaN,NaN,NaN,NaN

In [36]:

# Separate data for each region
target_pv = df3[df3['region'] == 'Groningen (PV)'].set_index('period')['oppucation_ratio']
bm_pv = df3[df3['region'] == 'Fryslân (PV)'].set_index('period')['oppucation_ratio']

# Ensure we're comparing the same periods
common_periods = target_pv.index.intersection(bm_pv.index)
target_pv = target_pv[common_periods]
bm_pv = bm_pv[common_periods]

# Calculate the differences (target_pv - bm_pv)
differences = target_pv - bm_pv

# Perform one-tailed paired t-test
t_statistic, p_value = stats.ttest_rel(target_pv, bm_pv, alternative='less')

print(f"One-tailed paired t-test statistic: {t_statistic}")
print(f"p-value: {p_value}")

# Interpret results
alpha = 0.05
if p_value < alpha:
    print("There is significant evidence that the occupation ratio in target_pv (PV) is lower than in bm_pv (PV).")
else:
    print("There is not enough evidence to conclude that the occupation ratio in target_pv (PV) is significantly lower than in bm_pv (PV).")

# Additional descriptive statistics
print("\nDescriptive Statistics:")
print("target_pv (PV):")
print(f"Mean occupation ratio: {np.mean(target_pv):.6f}")
print(f"Standard Deviation: {np.std(target_pv, ddof=1):.6f}")
print("\nbm_pv (PV):")
print(f"Mean occupation ratio: {np.mean(bm_pv):.6f}")
print(f"Standard Deviation: {np.std(bm_pv, ddof=1):.6f}")

# Calculate and print the mean difference
mean_diff = np.mean(differences)
print(f"\nMean difference (target_pv - bm_pv): {mean_diff:.6f}")

# Count how many periods target_pv was lower
lower_count = np.sum(differences < 0)
total_periods = len(differences)
print(f"\ntarget_pv had a lower occupation ratio in {lower_count} out of {total_periods} periods.")

One-tailed paired t-test statistic: 1.686263013300175
p-value: 0.9400668291828441
There is not enough evidence to conclude that the occupation ratio in target_pv (PV) is significantly lower than in bm_pv (PV).

Descriptive Statistics:
target_pv (PV):
Mean occupation ratio: 0.951890
Standard Deviation: 0.002958

bm_pv (PV):
Mean occupation ratio: 0.950724
Standard Deviation: 0.004313

Mean difference (target_pv - bm_pv): 0.001165

target_pv had a lower occupation ratio in 2 out of 12 periods.

In [42]:
print(target_pv)
print(bm_pv)

period
01/01/2012    0.946790
01/01/2013    0.938462
01/01/2014    0.944863
01/01/2015    0.952821
01/01/2016    0.955960
01/01/2017    0.957281
01/01/2018    0.951561
01/01/2019    0.931863
01/01/2020    0.933300
01/01/2021    0.938843
01/01/2022    0.937500
01/01/2023    0.937092
Name: oppucation_ratio, dtype: float64
period
01/01/2012    0.932604
01/01/2013    0.937102
01/01/2014    0.935226
01/01/2015    0.938765
01/01/2016    0.939270
01/01/2017    0.939560
01/01/2018    0.939140
01/01/2019    0.932769
01/01/2020    0.919934
01/01/2021    0.922760
01/01/2022    0.919570
01/01/2023    0.911312
Name: oppucation_ratio, dtype: float64

In [37]:

# Separate data for each region
target_pv = df3[df3['region'] == 'Appingedam'].set_index('period')['oppucation_ratio']
bm_pv = df3[df3['region'] == 'Franekeradeel'].set_index('period')['oppucation_ratio']

# Ensure we're comparing the same periods
common_periods = target_pv.index.intersection(bm_pv.index)
target_pv = target_pv[common_periods]
bm_pv = bm_pv[common_periods]

# Calculate the differences (target_pv - bm_pv)
differences = target_pv - bm_pv

# Perform one-tailed paired t-test
t_statistic, p_value = stats.ttest_rel(target_pv, bm_pv, alternative='less')

print(f"One-tailed paired t-test statistic: {t_statistic}")
print(f"p-value: {p_value}")

# Interpret results
alpha = 0.05
if p_value < alpha:
    print("There is significant evidence that the occupation ratio in target_pv (PV) is lower than in bm_pv (PV).")
else:
    print("There is not enough evidence to conclude that the occupation ratio in target_pv (PV) is significantly lower than in bm_pv (PV).")

# Additional descriptive statistics
print("\nDescriptive Statistics:")
print("target_pv (PV):")
print(f"Mean occupation ratio: {np.mean(target_pv):.6f}")
print(f"Standard Deviation: {np.std(target_pv, ddof=1):.6f}")
print("\nbm_pv (PV):")
print(f"Mean occupation ratio: {np.mean(bm_pv):.6f}")
print(f"Standard Deviation: {np.std(bm_pv, ddof=1):.6f}")

# Calculate and print the mean difference
mean_diff = np.mean(differences)
print(f"\nMean difference (target_pv - bm_pv): {mean_diff:.6f}")

# Count how many periods target_pv was lower
lower_count = np.sum(differences < 0)
total_periods = len(differences)
print(f"\ntarget_pv had a lower occupation ratio in {lower_count} out of {total_periods} periods.")

One-tailed paired t-test statistic: 6.317451935602701
p-value: 0.999971514483089
There is not enough evidence to conclude that the occupation ratio in target_pv (PV) is significantly lower than in bm_pv (PV).

Descriptive Statistics:
target_pv (PV):
Mean occupation ratio: 0.943861
Standard Deviation: 0.008902

bm_pv (PV):
Mean occupation ratio: 0.930668
Standard Deviation: 0.009706

Mean difference (target_pv - bm_pv): 0.013194

target_pv had a lower occupation ratio in 1 out of 12 periods.