In [1]:
import pandas as pd
import yaml

In [2]:
with open("../config.yaml", "r") as file:
    paths = yaml.safe_load(file)

print(paths['data']['raw']['file1'])
print(paths['data']['raw']['file2'])
print(paths['data']['raw']['file3'])
print(paths['data']['raw']['file4'])

../data/raw/inventory_2012-2023.csv
../data/raw/value_2019-2024.csv
../data/raw/value_1997-2020.csv
../data/raw/24-uitdraai-database-aardbevingen-atabix.csv

In [3]:
# load files

df1 = pd.read_csv(paths['data']['raw']['file3']) #, usecols=[0, 1, 2, 3, 4])
df2 = pd.read_csv(paths['data']['raw']['file2'])
df3 = pd.read_csv(paths['data']['raw']['file3'])
df4 = pd.read_csv(paths['data']['raw']['file4'])

In [4]:
# preliminary view

df1.head()

  Perioden    Regio's Gemiddelde woningwaarde (1 000 euro)
0     1997  Nederland                                   79
1     1998  Nederland                                   79
2     1999  Nederland                                   80
3     2000  Nederland                                   80
4     2001  Nederland                                  131

In [5]:
# check datatypes

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15888 entries, 0 to 15887
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Perioden                              15888 non-null  object
 1   Regio's                               15888 non-null  object
 2   Gemiddelde woningwaarde (1 000 euro)  10903 non-null  object
dtypes: object(3)
memory usage: 372.5+ KB

In [6]:
# rename column names

column_mappings = {
    'Perioden': 'period',
    "Regio's": 'region',
    'Gemiddelde woningwaarde (1 000 euro)': 'mean_value'
}

print("\nColumn Mappings Dictionary:")
print(column_mappings)

# Rename the columns in the DataFrame
df1.rename(columns=column_mappings, inplace=True)

Column Mappings Dictionary:
{'Perioden': 'period', "Regio's": 'region', 'Gemiddelde woningwaarde (1 000 euro)': 'mean_value'}

In [7]:
# check output

df1.head()

  period     region mean_value
0   1997  Nederland         79
1   1998  Nederland         79
2   1999  Nederland         80
3   2000  Nederland         80
4   2001  Nederland        131

In [8]:
# check region values unique

# set(df1['region'])

In [9]:
# convert to correct datatypes

# df_value['period'] = pd.to_datetime(df_value['period'])
df1['mean_value'] = pd.to_numeric(df1['mean_value'], errors='coerce')
# df_value['2020'] = pd.to_numeric(df_value['2020'], errors='coerce')
# df_value['2021'] = pd.to_numeric(df_value['2021'], errors='coerce')
# df_value['2022'] = pd.to_numeric(df_value['2022'], errors='coerce')
# df_value['2023'] = pd.to_numeric(df_value['2023'], errors='coerce')
# df_value['2024'] = pd.to_numeric(df_value['2024'], errors='coerce')
# df_value['total_occupied'] = pd.to_numeric(df_value['total_occupied'], errors='coerce')
# df_value['total_not_occupied'] = pd.to_numeric(df_value['total_not_occupied'], errors='coerce')

In [10]:
# check datatypes

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15888 entries, 0 to 15887
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   period      15888 non-null  object
 1   region      15888 non-null  object
 2   mean_value  10891 non-null  float64
dtypes: float64(1), object(2)
memory usage: 372.5+ KB

In [11]:
# check for null values

df1.isna().sum()

period           0
region           0
mean_value    4997
dtype: int64

In [12]:
df1.shape

(15888, 3)

In [13]:
# drop null values

# df1 = df1.dropna()

In [14]:
df1.shape

(15888, 3)

In [15]:
#reset index

df1 = df1.reset_index(drop=True)

In [16]:
df1.head()

  period     region  mean_value
0   1997  Nederland        79.0
1   1998  Nederland        79.0
2   1999  Nederland        80.0
3   2000  Nederland        80.0
4   2001  Nederland       131.0

In [17]:
# export clean dataset to csv

df1.to_csv('value_1997-2020_clean_new.csv', index=False)