In [1]:
import pandas as pd
import yaml

In [2]:
with open("../config.yaml", "r") as file:
    paths = yaml.safe_load(file)

print(paths['data']['raw']['file1'])
print(paths['data']['raw']['file2'])
print(paths['data']['raw']['file3'])
print(paths['data']['raw']['file4'])

../data/raw/inventory_2012-2023.csv
../data/raw/value_2019-2024.csv
../data/raw/value_1997-2020.csv
../data/raw/24-uitdraai-database-aardbevingen-atabix.csv

In [3]:
# load files

df1 = pd.read_csv(paths['data']['raw']['file4']) #, usecols=[0, 1, 2, 3, 4])
df2 = pd.read_csv(paths['data']['raw']['file2'])
df3 = pd.read_csv(paths['data']['raw']['file3'])
df4 = pd.read_csv(paths['data']['raw']['file4'])

In [4]:
# preliminary view

df1.head()

,id,occurred_at,city,latitude,longitude,depth,magnitude,gasfield_id,created_at,updated_at,knmi_guid
0,1,26/12/1986 07:47,Assen,52.992,6.548,1.0,2.8,NaN,NaN,NaN,NaN
1,2,14/12/1987 20:49,Hooghalen,52.928,6.552,1.5,2.5,NaN,NaN,NaN,NaN
2,3,01/12/1989 20:09,Kwadijk,52.529,4.971,1.2,2.7,NaN,NaN,NaN,NaN
3,4,15/02/1991 02:11,Emmen,52.771,6.914,3.0,2.2,NaN,NaN,NaN,NaN
4,5,25/04/1991 10:26,Eleveld,52.952,6.575,3.0,2.6,NaN,NaN,NaN,NaN

In [5]:
# check datatypes

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1905 non-null   int64
 1   occurred_at  1905 non-null   object
 2   city         1905 non-null   object
 3   latitude     1905 non-null   float64
 4   longitude    1905 non-null   float64
 5   depth        1905 non-null   float64
 6   magnitude    1905 non-null   float64
 7   gasfield_id  1492 non-null   float64
 8   created_at   237 non-null    object
 9   updated_at   237 non-null    object
 10  knmi_guid    132 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 163.8+ KB

In [7]:
# check region values unique

# set(df1['city'])

In [8]:
# convert to correct datatypes

# df_value['period'] = pd.to_datetime(df_value['period'])
df1['occurred_at'] = pd.to_datetime(df1['occurred_at'])
# df_value['2020'] = pd.to_numeric(df_value['2020'], errors='coerce')
# df_value['2021'] = pd.to_numeric(df_value['2021'], errors='coerce')
# df_value['2022'] = pd.to_numeric(df_value['2022'], errors='coerce')
# df_value['2023'] = pd.to_numeric(df_value['2023'], errors='coerce')
# df_value['2024'] = pd.to_numeric(df_value['2024'], errors='coerce')
# df_value['total_occupied'] = pd.to_numeric(df_value['total_occupied'], errors='coerce')
# df_value['total_not_occupied'] = pd.to_numeric(df_value['total_not_occupied'], errors='coerce')

/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_73193/797404095.py:4: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df1['occurred_at'] = pd.to_datetime(df1['occurred_at'])

In [9]:
# check datatypes

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1905 non-null   int64
 1   occurred_at  1905 non-null   datetime64[ns]
 2   city         1905 non-null   object
 3   latitude     1905 non-null   float64
 4   longitude    1905 non-null   float64
 5   depth        1905 non-null   float64
 6   magnitude    1905 non-null   float64
 7   gasfield_id  1492 non-null   float64
 8   created_at   237 non-null    object
 9   updated_at   237 non-null    object
 10  knmi_guid    132 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 163.8+ KB

In [10]:
# check for null values

df1.isna().sum()

id                0
occurred_at       0
city              0
latitude          0
longitude         0
depth             0
magnitude         0
gasfield_id     413
created_at     1668
updated_at     1668
knmi_guid      1773
dtype: int64

In [20]:
df1.shape

(15888, 3)

In [11]:
#reset index

df1 = df1.reset_index(drop=True)

In [12]:
df1.head()

,id,occurred_at,city,latitude,longitude,depth,magnitude,gasfield_id,created_at,updated_at,knmi_guid
0,1,1986-12-26 07:47:00,Assen,52.992,6.548,1.0,2.8,NaN,NaN,NaN,NaN
1,2,1987-12-14 20:49:00,Hooghalen,52.928,6.552,1.5,2.5,NaN,NaN,NaN,NaN
2,3,1989-12-01 20:09:00,Kwadijk,52.529,4.971,1.2,2.7,NaN,NaN,NaN,NaN
3,4,1991-02-15 02:11:00,Emmen,52.771,6.914,3.0,2.2,NaN,NaN,NaN,NaN
4,5,1991-04-25 10:26:00,Eleveld,52.952,6.575,3.0,2.6,NaN,NaN,NaN,NaN

In [13]:
# export clean dataset to csv

df1.to_csv('earthquake_data_clean.csv', index=False)