*
***** SHORTCUTS ******    - Maurits Siemonsma 20240924
*

DATA CLEANING

In [ ]:
import pandas as pd
import numpy as np

# 1. Load data
df = pd.read_csv('your_data.csv')

In [ ]:
# 2. Inspect the data
df.head()
df.info()
df.describe()
df.columns.tolist()

In [ ]:
# Format column names
df.columns = [col.replace(" ","_").lower() for col in df.columns]

In [ ]:
# Rename columns for clarity
df = df.rename(columns={'old_name': 'new_name'})

# add a code to rename multiple columns

In [ ]:
# 3. Check missing values
df.isna().sum()
rows_with_null_values = df[columns_to_check].isnull().all(axis=1)

In [ ]:
# 4. Handle missing values
df = df.dropna()  # Or use df.fillna(value) to fill with a specific value

In [ ]:
# Replacing missing values: Fill NaN in premature deaths with mean, sort by city and year

def fill_na_with_group_mean(group):
    return group.fillna(group.mean())

df['premature_deaths'] = df.groupby(['city', 'year'])['premature_deaths'].transform(fill_na_with_group_mean)

df['premature_deaths']
df_mean = df
df_mean['premature_deaths']

In [ ]:
# Replacing values

replacements = {
    r'A.*': 'A',
    r'B.*': 'B',
    r'C.*': 'C',
    r'D.*': 'D',
    r'E.*': 'E',
    r'F.*': 'F',
    r'G.*': 'G',
    r'T.*': 'T'
}

spaceship['Cabin'] = spaceship['Cabin'].replace(replacements, regex=True)


# Starting with "F"
spaceship['Cabin'] = spaceship['Cabin'].replace({r'F.*': 'F'}, regex=True)

# Containing "F"
spaceship['Cabin'] = spaceship['Cabin'].replace({r'.*F.*': 'F'}, regex=True)

# Ending with "F"
spaceship['Cabin'] = spaceship['Cabin'].replace({r'.*F$': 'F'}, regex=True)

In [1]:
# Check for duplicates

df.duplicated().sum()

NameError: name 'df' is not defined

In [ ]:
# Drop duplicates

df = df.drop_duplicates()

In [ ]:
# Drop columns

df = df.drop('column', axis=1)

In [ ]:
# Reorder columns if needed
df = df[['column1', 'column2', 'column3']]

In [ ]:
# Correct data types

df['date_column'] = pd.to_datetime(df['date_column'])
df['numeric_column'] = pd.to_numeric(df['numeric_column'], errors='coerce')

In [ ]:
# Handle outliers (example using Z-score method)
def remove_outliers(df, column, threshold=3):
    z_scores = np.abs((df[column] - df[column].mean()) / df[column].std())
    return df[z_scores < threshold]

df = remove_outliers(df, 'numeric_column')

In [ ]:
# Normalize or scale numerical features (example using Min-Max scaling)
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['scaled_column'] = scaler.fit_transform(df[['numeric_column']])

In [ ]:
# Encode categorical variables
df = pd.get_dummies(df, columns=['categorical_column'])

In [ ]:
# Reset index

In [ ]:
# Save the cleaned dataset
df.to_csv('cleaned_data.csv', index=False)